<!DOCTYPE html>
<html>
  <head>
    <title>活动预览</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/活动预览/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/活动预览/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (形状) -->
      <div id="u0" class="ax_形状">
        <img id="u0_img" class="img " src="images/自有商品列表/u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2" class="ax_横线">
        <img id="u2_start" class="img " src="resources/images/transparent.gif" alt="u2_start"/>
        <img id="u2_end" class="img " src="resources/images/transparent.gif" alt="u2_end"/>
        <img id="u2_line" class="img " src="images/首页/u5_line.png" alt="u2_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u3" class="ax_h2">
        <img id="u3_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u4" class="text">
          <p><span style="color:#333333;">时间：</span><span style="color:#333333;">2017-2-8&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </span><span style="color:#333333;">用户：刘泰</span><span style="color:#333333;">&nbsp; &nbsp; &nbsp; </span><span style="color:#333333;">所属角色：超级管理员</span><span style="color:#333333;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </span><span style="color:#009900;">&nbsp;</span><span style="color:#009900;">退出</span><span style="color:#009900;">&nbsp;&nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u5" class="ax_形状">
        <img id="u5_img" class="img " src="images/活动预览/u5.png"/>
        <!-- Unnamed () -->
        <div id="u6" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u7" class="ax_横线">
        <img id="u7_start" class="img " src="resources/images/transparent.gif" alt="u7_start"/>
        <img id="u7_end" class="img " src="resources/images/transparent.gif" alt="u7_end"/>
        <img id="u7_line" class="img " src="images/会员管理/u143_line.png" alt="u7_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8" class="ax_h2">
        <img id="u8_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u9" class="text">
          <p><span>&lt;&nbsp;&nbsp; 活动预览：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u10" class="ax_h2">
        <img id="u10_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u11" class="text">
          <p><span>标&nbsp; &nbsp; &nbsp; &nbsp; 题：</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u12" class="ax_横线">
        <img id="u12_start" class="img " src="resources/images/transparent.gif" alt="u12_start"/>
        <img id="u12_end" class="img " src="resources/images/transparent.gif" alt="u12_end"/>
        <img id="u12_line" class="img " src="images/新增活动/u13_line.png" alt="u12_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u13" class="ax_h2">
        <img id="u13_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u14" class="text">
          <p><span>描&nbsp; &nbsp; &nbsp; &nbsp; 述：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u15" class="ax_h2">
        <img id="u15_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u16" class="text">
          <p><span>图&nbsp; &nbsp; &nbsp;&nbsp; 片：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u17" class="ax_h2">
        <img id="u17_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u18" class="text">
          <p><span>活动创建者：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u19" class="ax_h2">
        <img id="u19_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u20" class="text">
          <p><span>活动类型：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u21" class="ax_h2">
        <img id="u21_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u22" class="text">
          <p><span>活动时间：</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u23" class="ax_横线">
        <img id="u23_start" class="img " src="resources/images/transparent.gif" alt="u23_start"/>
        <img id="u23_end" class="img " src="resources/images/transparent.gif" alt="u23_end"/>
        <img id="u23_line" class="img " src="images/草稿箱_资讯/u111_line.png" alt="u23_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u24" class="ax_h2">
        <img id="u24_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u25" class="text">
          <p><span>活动链接：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u26" class="ax_h2">
        <img id="u26_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u27" class="text">
          <p><span>渠&nbsp; &nbsp; &nbsp; &nbsp; 道：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u28" class="ax_h2">
        <img id="u28_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u29" class="text">
          <p><span>SEO关键字：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u30" class="ax_h2">
        <img id="u30_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u31" class="text">
          <p><span>SUV</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u32" class="ax_h2">
        <img id="u32_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u33" class="text">
          <p><span>SEO描述：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u34" class="ax_h2">
        <img id="u34_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u35" class="text">
          <p><span>关联车型：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u36" class="ax_形状">
        <img id="u36_img" class="img " src="images/新增活动/u66.png"/>
        <!-- Unnamed () -->
        <div id="u37" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u38" class="ax_h2">
        <img id="u38_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u39" class="text">
          <p><span>奔驰gle：</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u40" class="ax_横线">
        <img id="u40_start" class="img " src="resources/images/transparent.gif" alt="u40_start"/>
        <img id="u40_end" class="img " src="resources/images/transparent.gif" alt="u40_end"/>
        <img id="u40_line" class="img " src="images/会员管理/u143_line.png" alt="u40_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u41" class="ax_h2">
        <img id="u41_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u42" class="text">
          <p><span>接口文档：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u43" class="ax_文本">
        <img id="u43_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u44" class="text">
          <p><span>活动标题接口文档</span><span>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u45" class="ax_h2">
        <img id="u45_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u46" class="text">
          <p><span>活动标题活动标题活动标题</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u47" class="ax_h2">
        <img id="u47_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u48" class="text">
          <p><span>活动描述活动描述活动描述活动描述</span></p><p><span>活动描述活动描述活动描述活动描述</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u49" class="ax_形状">
        <img id="u49_img" class="img " src="images/活动预览/u49.png"/>
        <!-- Unnamed () -->
        <div id="u50" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u51" class="ax_h2">
        <img id="u51_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u52" class="text">
          <p><span>市场部</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u53" class="ax_h2">
        <img id="u53_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u54" class="text">
          <p><span>类型1</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u55" class="ax_h2">
        <img id="u55_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u56" class="text">
          <p><span>2017/2/22</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u57" class="ax_h2">
        <img id="u57_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u58" class="text">
          <p><span>2017/2/22</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u59" class="ax_h2">
        <img id="u59_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u60" class="text">
          <p><span>www.banniqiche.com</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u61" class="ax_h2">
        <img id="u61_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u62" class="text">
          <p><span>微信：www.banniqiche.com</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u63" class="ax_h2">
        <img id="u63_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u64" class="text">
          <p><span>优惠</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u65" class="ax_h2">
        <img id="u65_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u66" class="text">
          <p><span>打折</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u67" class="ax_h2">
        <img id="u67_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u68" class="text">
          <p><span>描述描述描述描述</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u69" class="ax_形状">
        <img id="u69_img" class="img " src="images/新增活动/u66.png"/>
        <!-- Unnamed () -->
        <div id="u70" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u71" class="ax_h2">
        <img id="u71_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u72" class="text">
          <p><span>奔驰gle：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u73" class="ax_h2">
        <img id="u73_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u74" class="text">
          <p><span>标&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 签：</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u75" class="ax_h2">
        <img id="u75_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u76" class="text">
          <p><span>SUV</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u77" class="ax_h2">
        <img id="u77_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u78" class="text">
          <p><span>优惠</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u79" class="ax_形状">
        <img id="u79_img" class="img " src="images/首页/u10.png"/>
        <!-- Unnamed () -->
        <div id="u80" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u81" class="ax_横线">
        <img id="u81_start" class="img " src="resources/images/transparent.gif" alt="u81_start"/>
        <img id="u81_end" class="img " src="resources/images/transparent.gif" alt="u81_end"/>
        <img id="u81_line" class="img " src="images/首页/u12_line.png" alt="u81_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u82" class="ax_h2">
        <img id="u82_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u83" class="text">
          <p><span>草稿箱</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u84" class="ax_垂直线">
        <img id="u84_start" class="img " src="resources/images/transparent.gif" alt="u84_start"/>
        <img id="u84_end" class="img " src="resources/images/transparent.gif" alt="u84_end"/>
        <img id="u84_line" class="img " src="images/首页/u15_line.png" alt="u84_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u85" class="ax_横线">
        <img id="u85_start" class="img " src="resources/images/transparent.gif" alt="u85_start"/>
        <img id="u85_end" class="img " src="resources/images/transparent.gif" alt="u85_end"/>
        <img id="u85_line" class="img " src="images/首页/u12_line.png" alt="u85_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u86" class="ax_垂直线">
        <img id="u86_start" class="img " src="resources/images/transparent.gif" alt="u86_start"/>
        <img id="u86_end" class="img " src="resources/images/transparent.gif" alt="u86_end"/>
        <img id="u86_line" class="img " src="images/首页/u15_line.png" alt="u86_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u87" class="ax_h2">
        <img id="u87_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u88" class="text">
          <p><span>资讯审核</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u89" class="ax_横线">
        <img id="u89_start" class="img " src="resources/images/transparent.gif" alt="u89_start"/>
        <img id="u89_end" class="img " src="resources/images/transparent.gif" alt="u89_end"/>
        <img id="u89_line" class="img " src="images/首页/u12_line.png" alt="u89_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u90" class="ax_垂直线">
        <img id="u90_start" class="img " src="resources/images/transparent.gif" alt="u90_start"/>
        <img id="u90_end" class="img " src="resources/images/transparent.gif" alt="u90_end"/>
        <img id="u90_line" class="img " src="images/首页/u15_line.png" alt="u90_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u91" class="ax_横线">
        <img id="u91_start" class="img " src="resources/images/transparent.gif" alt="u91_start"/>
        <img id="u91_end" class="img " src="resources/images/transparent.gif" alt="u91_end"/>
        <img id="u91_line" class="img " src="images/首页/u22_line.png" alt="u91_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u92" class="ax_垂直线">
        <img id="u92_start" class="img " src="resources/images/transparent.gif" alt="u92_start"/>
        <img id="u92_end" class="img " src="resources/images/transparent.gif" alt="u92_end"/>
        <img id="u92_line" class="img " src="images/首页/u15_line.png" alt="u92_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u93" class="ax_h2">
        <img id="u93_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u94" class="text">
          <p><span>资讯发布</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u95" class="ax_h2">
        <img id="u95_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u96" class="text">
          <p><span>资讯列表</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u97" class="ax_横线">
        <img id="u97_start" class="img " src="resources/images/transparent.gif" alt="u97_start"/>
        <img id="u97_end" class="img " src="resources/images/transparent.gif" alt="u97_end"/>
        <img id="u97_line" class="img " src="images/首页/u22_line.png" alt="u97_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u98" class="ax_横线">
        <img id="u98_start" class="img " src="resources/images/transparent.gif" alt="u98_start"/>
        <img id="u98_end" class="img " src="resources/images/transparent.gif" alt="u98_end"/>
        <img id="u98_line" class="img " src="images/首页/u22_line.png" alt="u98_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u99" class="ax_h2">
        <img id="u99_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u100" class="text">
          <p><span>车型库管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u101" class="ax_横线">
        <img id="u101_start" class="img " src="resources/images/transparent.gif" alt="u101_start"/>
        <img id="u101_end" class="img " src="resources/images/transparent.gif" alt="u101_end"/>
        <img id="u101_line" class="img " src="images/首页/u12_line.png" alt="u101_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u102" class="ax_垂直线">
        <img id="u102_start" class="img " src="resources/images/transparent.gif" alt="u102_start"/>
        <img id="u102_end" class="img " src="resources/images/transparent.gif" alt="u102_end"/>
        <img id="u102_line" class="img " src="images/首页/u15_line.png" alt="u102_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u103" class="ax_横线">
        <img id="u103_start" class="img " src="resources/images/transparent.gif" alt="u103_start"/>
        <img id="u103_end" class="img " src="resources/images/transparent.gif" alt="u103_end"/>
        <img id="u103_line" class="img " src="images/首页/u12_line.png" alt="u103_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u104" class="ax_垂直线">
        <img id="u104_start" class="img " src="resources/images/transparent.gif" alt="u104_start"/>
        <img id="u104_end" class="img " src="resources/images/transparent.gif" alt="u104_end"/>
        <img id="u104_line" class="img " src="images/首页/u15_line.png" alt="u104_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u105" class="ax_横线">
        <img id="u105_start" class="img " src="resources/images/transparent.gif" alt="u105_start"/>
        <img id="u105_end" class="img " src="resources/images/transparent.gif" alt="u105_end"/>
        <img id="u105_line" class="img " src="images/首页/u12_line.png" alt="u105_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u106" class="ax_垂直线">
        <img id="u106_start" class="img " src="resources/images/transparent.gif" alt="u106_start"/>
        <img id="u106_end" class="img " src="resources/images/transparent.gif" alt="u106_end"/>
        <img id="u106_line" class="img " src="images/首页/u15_line.png" alt="u106_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u107" class="ax_横线">
        <img id="u107_start" class="img " src="resources/images/transparent.gif" alt="u107_start"/>
        <img id="u107_end" class="img " src="resources/images/transparent.gif" alt="u107_end"/>
        <img id="u107_line" class="img " src="images/首页/u12_line.png" alt="u107_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u108" class="ax_垂直线">
        <img id="u108_start" class="img " src="resources/images/transparent.gif" alt="u108_start"/>
        <img id="u108_end" class="img " src="resources/images/transparent.gif" alt="u108_end"/>
        <img id="u108_line" class="img " src="images/首页/u15_line.png" alt="u108_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u109" class="ax_垂直线">
        <img id="u109_start" class="img " src="resources/images/transparent.gif" alt="u109_start"/>
        <img id="u109_end" class="img " src="resources/images/transparent.gif" alt="u109_end"/>
        <img id="u109_line" class="img " src="images/首页/u15_line.png" alt="u109_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u110" class="ax_横线">
        <img id="u110_start" class="img " src="resources/images/transparent.gif" alt="u110_start"/>
        <img id="u110_end" class="img " src="resources/images/transparent.gif" alt="u110_end"/>
        <img id="u110_line" class="img " src="images/首页/u12_line.png" alt="u110_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u111" class="ax_垂直线">
        <img id="u111_start" class="img " src="resources/images/transparent.gif" alt="u111_start"/>
        <img id="u111_end" class="img " src="resources/images/transparent.gif" alt="u111_end"/>
        <img id="u111_line" class="img " src="images/首页/u15_line.png" alt="u111_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u112" class="ax_h2">
        <img id="u112_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u113" class="text">
          <p><span>品牌管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u114" class="ax_h2">
        <img id="u114_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u115" class="text">
          <p><span>厂商管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u116" class="ax_h2">
        <img id="u116_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u117" class="text">
          <p><span>车系管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u118" class="ax_h2">
        <img id="u118_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u119" class="text">
          <p><span>车款管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u120" class="ax_h2">
        <img id="u120_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u121" class="text">
          <p><span>参数分类管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u122" class="ax_h2">
        <img id="u122_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u123" class="text">
          <p><span>参数管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u124" class="ax_横线">
        <img id="u124_start" class="img " src="resources/images/transparent.gif" alt="u124_start"/>
        <img id="u124_end" class="img " src="resources/images/transparent.gif" alt="u124_end"/>
        <img id="u124_line" class="img " src="images/首页/u22_line.png" alt="u124_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u125" class="ax_横线">
        <img id="u125_start" class="img " src="resources/images/transparent.gif" alt="u125_start"/>
        <img id="u125_end" class="img " src="resources/images/transparent.gif" alt="u125_end"/>
        <img id="u125_line" class="img " src="images/首页/u22_line.png" alt="u125_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u126" class="ax_h2">
        <img id="u126_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u127" class="text">
          <p><span>自有商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u128" class="ax_横线">
        <img id="u128_start" class="img " src="resources/images/transparent.gif" alt="u128_start"/>
        <img id="u128_end" class="img " src="resources/images/transparent.gif" alt="u128_end"/>
        <img id="u128_line" class="img " src="images/首页/u22_line.png" alt="u128_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u129" class="ax_h2">
        <img id="u129_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u130" class="text">
          <p><span>活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u131" class="ax_横线">
        <img id="u131_start" class="img " src="resources/images/transparent.gif" alt="u131_start"/>
        <img id="u131_end" class="img " src="resources/images/transparent.gif" alt="u131_end"/>
        <img id="u131_line" class="img " src="images/首页/u12_line.png" alt="u131_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u132" class="ax_垂直线">
        <img id="u132_start" class="img " src="resources/images/transparent.gif" alt="u132_start"/>
        <img id="u132_end" class="img " src="resources/images/transparent.gif" alt="u132_end"/>
        <img id="u132_line" class="img " src="images/首页/u15_line.png" alt="u132_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u133" class="ax_横线">
        <img id="u133_start" class="img " src="resources/images/transparent.gif" alt="u133_start"/>
        <img id="u133_end" class="img " src="resources/images/transparent.gif" alt="u133_end"/>
        <img id="u133_line" class="img " src="images/首页/u12_line.png" alt="u133_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u134" class="ax_垂直线">
        <img id="u134_start" class="img " src="resources/images/transparent.gif" alt="u134_start"/>
        <img id="u134_end" class="img " src="resources/images/transparent.gif" alt="u134_end"/>
        <img id="u134_line" class="img " src="images/首页/u15_line.png" alt="u134_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u135" class="ax_横线">
        <img id="u135_start" class="img " src="resources/images/transparent.gif" alt="u135_start"/>
        <img id="u135_end" class="img " src="resources/images/transparent.gif" alt="u135_end"/>
        <img id="u135_line" class="img " src="images/首页/u12_line.png" alt="u135_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u136" class="ax_垂直线">
        <img id="u136_start" class="img " src="resources/images/transparent.gif" alt="u136_start"/>
        <img id="u136_end" class="img " src="resources/images/transparent.gif" alt="u136_end"/>
        <img id="u136_line" class="img " src="images/首页/u15_line.png" alt="u136_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u137" class="ax_h2">
        <img id="u137_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u138" class="text">
          <p><span>活动</span><span>列表</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u139" class="ax_h2">
        <img id="u139_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u140" class="text">
          <p><span>推荐活动</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u141" class="ax_h2">
        <img id="u141_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u142" class="text">
          <p><span>类型管理</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u143" class="ax_垂直线">
        <img id="u143_start" class="img " src="resources/images/transparent.gif" alt="u143_start"/>
        <img id="u143_end" class="img " src="resources/images/transparent.gif" alt="u143_end"/>
        <img id="u143_line" class="img " src="images/首页/u15_line.png" alt="u143_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u144" class="ax_h2">
        <img id="u144_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u145" class="text">
          <p><span>渠道管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u146" class="ax_横线">
        <img id="u146_start" class="img " src="resources/images/transparent.gif" alt="u146_start"/>
        <img id="u146_end" class="img " src="resources/images/transparent.gif" alt="u146_end"/>
        <img id="u146_line" class="img " src="images/首页/u22_line.png" alt="u146_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u147" class="ax_横线">
        <img id="u147_start" class="img " src="resources/images/transparent.gif" alt="u147_start"/>
        <img id="u147_end" class="img " src="resources/images/transparent.gif" alt="u147_end"/>
        <img id="u147_line" class="img " src="images/首页/u22_line.png" alt="u147_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u148" class="ax_h2">
        <img id="u148_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u149" class="text">
          <p><span>消息管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u150" class="ax_横线">
        <img id="u150_start" class="img " src="resources/images/transparent.gif" alt="u150_start"/>
        <img id="u150_end" class="img " src="resources/images/transparent.gif" alt="u150_end"/>
        <img id="u150_line" class="img " src="images/首页/u22_line.png" alt="u150_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u151" class="ax_h2">
        <img id="u151_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u152" class="text">
          <p><span>标签管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u153" class="ax_横线">
        <img id="u153_start" class="img " src="resources/images/transparent.gif" alt="u153_start"/>
        <img id="u153_end" class="img " src="resources/images/transparent.gif" alt="u153_end"/>
        <img id="u153_line" class="img " src="images/首页/u22_line.png" alt="u153_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u154" class="ax_h2">
        <img id="u154_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u155" class="text">
          <p><span>角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u156" class="ax_横线">
        <img id="u156_start" class="img " src="resources/images/transparent.gif" alt="u156_start"/>
        <img id="u156_end" class="img " src="resources/images/transparent.gif" alt="u156_end"/>
        <img id="u156_line" class="img " src="images/首页/u22_line.png" alt="u156_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u157" class="ax_h2">
        <img id="u157_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u158" class="text">
          <p><span>管理员列表</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u159" class="ax_h2">
        <img id="u159_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u160" class="text">
          <p><span>操作日志</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u161" class="ax_横线">
        <img id="u161_start" class="img " src="resources/images/transparent.gif" alt="u161_start"/>
        <img id="u161_end" class="img " src="resources/images/transparent.gif" alt="u161_end"/>
        <img id="u161_line" class="img " src="images/首页/u92_line.png" alt="u161_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u162" class="ax_h2">
        <img id="u162_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u163" class="text">
          <p><span>标签定义</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u164" class="ax_h2">
        <img id="u164_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u165" class="text">
          <p><span>个人中心</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u166" class="ax_横线">
        <img id="u166_start" class="img " src="resources/images/transparent.gif" alt="u166_start"/>
        <img id="u166_end" class="img " src="resources/images/transparent.gif" alt="u166_end"/>
        <img id="u166_line" class="img " src="images/首页/u22_line.png" alt="u166_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u167" class="ax_h2">
        <img id="u167_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u168" class="text">
          <p><span>会员管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u169" class="ax_横线">
        <img id="u169_start" class="img " src="resources/images/transparent.gif" alt="u169_start"/>
        <img id="u169_end" class="img " src="resources/images/transparent.gif" alt="u169_end"/>
        <img id="u169_line" class="img " src="images/首页/u22_line.png" alt="u169_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u170" class="ax_横线">
        <img id="u170_start" class="img " src="resources/images/transparent.gif" alt="u170_start"/>
        <img id="u170_end" class="img " src="resources/images/transparent.gif" alt="u170_end"/>
        <img id="u170_line" class="img " src="images/首页/u92_line.png" alt="u170_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u171" class="ax_垂直线">
        <img id="u171_start" class="img " src="resources/images/transparent.gif" alt="u171_start"/>
        <img id="u171_end" class="img " src="resources/images/transparent.gif" alt="u171_end"/>
        <img id="u171_line" class="img " src="images/首页/u15_line.png" alt="u171_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u172" class="ax_h2">
        <img id="u172_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u173" class="text">
          <p><span>会员管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u174" class="ax_h2">
        <img id="u174_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u175" class="text">
          <p><span>资讯管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u176" class="ax_横线">
        <img id="u176_start" class="img " src="resources/images/transparent.gif" alt="u176_start"/>
        <img id="u176_end" class="img " src="resources/images/transparent.gif" alt="u176_end"/>
        <img id="u176_line" class="img " src="images/首页/u22_line.png" alt="u176_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u177" class="ax_横线">
        <img id="u177_start" class="img " src="resources/images/transparent.gif" alt="u177_start"/>
        <img id="u177_end" class="img " src="resources/images/transparent.gif" alt="u177_end"/>
        <img id="u177_line" class="img " src="images/首页/u12_line.png" alt="u177_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u178" class="ax_垂直线">
        <img id="u178_start" class="img " src="resources/images/transparent.gif" alt="u178_start"/>
        <img id="u178_end" class="img " src="resources/images/transparent.gif" alt="u178_end"/>
        <img id="u178_line" class="img " src="images/首页/u15_line.png" alt="u178_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u179" class="ax_h2">
        <img id="u179_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u180" class="text">
          <p><span>标签定义</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u181" class="ax_横线">
        <img id="u181_start" class="img " src="resources/images/transparent.gif" alt="u181_start"/>
        <img id="u181_end" class="img " src="resources/images/transparent.gif" alt="u181_end"/>
        <img id="u181_line" class="img " src="images/首页/u22_line.png" alt="u181_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u182" class="ax_垂直线">
        <img id="u182_start" class="img " src="resources/images/transparent.gif" alt="u182_start"/>
        <img id="u182_end" class="img " src="resources/images/transparent.gif" alt="u182_end"/>
        <img id="u182_line" class="img " src="images/首页/u15_line.png" alt="u182_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u183" class="ax_h2">
        <img id="u183_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u184" class="text">
          <p><span>自有商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u185" class="ax_横线">
        <img id="u185_start" class="img " src="resources/images/transparent.gif" alt="u185_start"/>
        <img id="u185_end" class="img " src="resources/images/transparent.gif" alt="u185_end"/>
        <img id="u185_line" class="img " src="images/首页/u116_line.png" alt="u185_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u186" class="ax_垂直线">
        <img id="u186_start" class="img " src="resources/images/transparent.gif" alt="u186_start"/>
        <img id="u186_end" class="img " src="resources/images/transparent.gif" alt="u186_end"/>
        <img id="u186_line" class="img " src="images/首页/u15_line.png" alt="u186_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u187" class="ax_h2">
        <img id="u187_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u188" class="text">
          <p><span>消息管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u189" class="ax_横线">
        <img id="u189_start" class="img " src="resources/images/transparent.gif" alt="u189_start"/>
        <img id="u189_end" class="img " src="resources/images/transparent.gif" alt="u189_end"/>
        <img id="u189_line" class="img " src="images/首页/u116_line.png" alt="u189_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u190" class="ax_垂直线">
        <img id="u190_start" class="img " src="resources/images/transparent.gif" alt="u190_start"/>
        <img id="u190_end" class="img " src="resources/images/transparent.gif" alt="u190_end"/>
        <img id="u190_line" class="img " src="images/首页/u15_line.png" alt="u190_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u191" class="ax_h2">
        <img id="u191_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u192" class="text">
          <p><span>标签管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u193" class="ax_横线">
        <img id="u193_start" class="img " src="resources/images/transparent.gif" alt="u193_start"/>
        <img id="u193_end" class="img " src="resources/images/transparent.gif" alt="u193_end"/>
        <img id="u193_line" class="img " src="images/首页/u124_line.png" alt="u193_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u194" class="ax_垂直线">
        <img id="u194_start" class="img " src="resources/images/transparent.gif" alt="u194_start"/>
        <img id="u194_end" class="img " src="resources/images/transparent.gif" alt="u194_end"/>
        <img id="u194_line" class="img " src="images/首页/u15_line.png" alt="u194_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u195" class="ax_h2">
        <img id="u195_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u196" class="text">
          <p><span>角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u197" class="ax_垂直线">
        <img id="u197_start" class="img " src="resources/images/transparent.gif" alt="u197_start"/>
        <img id="u197_end" class="img " src="resources/images/transparent.gif" alt="u197_end"/>
        <img id="u197_line" class="img " src="images/首页/u15_line.png" alt="u197_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u198" class="ax_横线">
        <img id="u198_start" class="img " src="resources/images/transparent.gif" alt="u198_start"/>
        <img id="u198_end" class="img " src="resources/images/transparent.gif" alt="u198_end"/>
        <img id="u198_line" class="img " src="images/首页/u22_line.png" alt="u198_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u199" class="ax_h2">
        <img id="u199_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u200" class="text">
          <p><span>管理员列表</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u201" class="ax_垂直线">
        <img id="u201_start" class="img " src="resources/images/transparent.gif" alt="u201_start"/>
        <img id="u201_end" class="img " src="resources/images/transparent.gif" alt="u201_end"/>
        <img id="u201_line" class="img " src="images/首页/u15_line.png" alt="u201_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u202" class="ax_横线">
        <img id="u202_start" class="img " src="resources/images/transparent.gif" alt="u202_start"/>
        <img id="u202_end" class="img " src="resources/images/transparent.gif" alt="u202_end"/>
        <img id="u202_line" class="img " src="images/首页/u22_line.png" alt="u202_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u203" class="ax_横线">
        <img id="u203_start" class="img " src="resources/images/transparent.gif" alt="u203_start"/>
        <img id="u203_end" class="img " src="resources/images/transparent.gif" alt="u203_end"/>
        <img id="u203_line" class="img " src="images/首页/u22_line.png" alt="u203_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u204" class="ax_h2">
        <img id="u204_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u205" class="text">
          <p><span>操作日志</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u206" class="ax_垂直线">
        <img id="u206_start" class="img " src="resources/images/transparent.gif" alt="u206_start"/>
        <img id="u206_end" class="img " src="resources/images/transparent.gif" alt="u206_end"/>
        <img id="u206_line" class="img " src="images/首页/u15_line.png" alt="u206_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u207" class="ax_横线">
        <img id="u207_start" class="img " src="resources/images/transparent.gif" alt="u207_start"/>
        <img id="u207_end" class="img " src="resources/images/transparent.gif" alt="u207_end"/>
        <img id="u207_line" class="img " src="images/首页/u116_line.png" alt="u207_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u208" class="ax_h2">
        <img id="u208_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u209" class="text">
          <p><span>个人中心</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u210" class="ax_h2">
        <img id="u210_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u211" class="text">
          <p><span>“</span><span>伴我汽车</span><span>”</span><span>管理平台</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u212" class="ax_形状">
        <img id="u212_img" class="img " src="images/首页/u141.png"/>
        <!-- Unnamed () -->
        <div id="u213" class="text">
          <p><span>logo</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
