<!DOCTYPE html>
<html>
  <head>
    <title>角色管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/角色管理_1/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/角色管理_1/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (形状) -->
      <div id="u0" class="ax_形状">
        <img id="u0_img" class="img " src="images/会员详情_我的座驾/u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u2" class="ax_横线">
        <img id="u2_start" class="img " src="resources/images/transparent.gif" alt="u2_start"/>
        <img id="u2_end" class="img " src="resources/images/transparent.gif" alt="u2_end"/>
        <img id="u2_line" class="img " src="images/首页/u5_line.png" alt="u2_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u3" class="ax_h2">
        <img id="u3_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u4" class="text">
          <p><span style="color:#333333;">时间：</span><span style="color:#333333;">2017-2-8&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </span><span style="color:#333333;">用户：刘泰</span><span style="color:#333333;">&nbsp; &nbsp; &nbsp; </span><span style="color:#333333;">所属角色：超级管理员</span><span style="color:#333333;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </span><span style="color:#009900;">&nbsp;</span><span style="color:#009900;">退出</span><span style="color:#009900;">&nbsp;&nbsp; </span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u5" class="ax_形状">
        <img id="u5_img" class="img " src="images/会员详情_我的座驾/u5.png"/>
        <!-- Unnamed () -->
        <div id="u6" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u7" class="ax_横线">
        <img id="u7_start" class="img " src="resources/images/transparent.gif" alt="u7_start"/>
        <img id="u7_end" class="img " src="resources/images/transparent.gif" alt="u7_end"/>
        <img id="u7_line" class="img " src="images/会员管理/u143_line.png" alt="u7_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8" class="ax_h2">
        <img id="u8_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u9" class="text">
          <p><span>&lt;&nbsp;&nbsp; 角色管理：</span></p>
        </div>
      </div>

      <!-- Unnamed (表格) -->
      <div id="u10" class="ax_表格">

        <!-- Unnamed (表格单元) -->
        <div id="u11" class="ax_表格单元">
          <img id="u11_img" class="img " src="images/角色管理_1/u11.png"/>
          <!-- Unnamed () -->
          <div id="u12" class="text">
            <p><span>序号</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u13" class="ax_表格单元">
          <img id="u13_img" class="img " src="images/角色管理_1/u11.png"/>
          <!-- Unnamed () -->
          <div id="u14" class="text">
            <p><span>名称</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u15" class="ax_表格单元">
          <img id="u15_img" class="img " src="images/角色管理_1/u11.png"/>
          <!-- Unnamed () -->
          <div id="u16" class="text">
            <p><span>人数</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u17" class="ax_表格单元">
          <img id="u17_img" class="img " src="images/角色管理_1/u17.png"/>
          <!-- Unnamed () -->
          <div id="u18" class="text">
            <p><span>操作</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u19" class="ax_表格单元">
          <img id="u19_img" class="img " src="images/角色管理_1/u11.png"/>
          <!-- Unnamed () -->
          <div id="u20" class="text">
            <p><span>1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u21" class="ax_表格单元">
          <img id="u21_img" class="img " src="images/角色管理_1/u11.png"/>
          <!-- Unnamed () -->
          <div id="u22" class="text">
            <p><span>高级管理员</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u23" class="ax_表格单元">
          <img id="u23_img" class="img " src="images/角色管理_1/u11.png"/>
          <!-- Unnamed () -->
          <div id="u24" class="text">
            <p><span>1</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u25" class="ax_表格单元">
          <img id="u25_img" class="img " src="images/角色管理_1/u17.png"/>
          <!-- Unnamed () -->
          <div id="u26" class="text">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u27" class="ax_表格单元">
          <img id="u27_img" class="img " src="images/角色管理_1/u27.png"/>
          <!-- Unnamed () -->
          <div id="u28" class="text">
            <p><span>2</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u29" class="ax_表格单元">
          <img id="u29_img" class="img " src="images/角色管理_1/u27.png"/>
          <!-- Unnamed () -->
          <div id="u30" class="text">
            <p><span>普通管理员</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u31" class="ax_表格单元">
          <img id="u31_img" class="img " src="images/角色管理_1/u27.png"/>
          <!-- Unnamed () -->
          <div id="u32" class="text">
            <p><span>5</span></p>
          </div>
        </div>

        <!-- Unnamed (表格单元) -->
        <div id="u33" class="ax_表格单元">
          <img id="u33_img" class="img " src="images/角色管理_1/u33.png"/>
          <!-- Unnamed () -->
          <div id="u34" class="text">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u35" class="ax_html__">
        <input id="u35_input" type="submit" value="新增"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u36" class="ax_html__">
        <input id="u36_input" type="submit" value="编辑"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u37" class="ax_html__">
        <input id="u37_input" type="submit" value="删除"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u38" class="ax_html__">
        <input id="u38_input" type="submit" value="编辑"/>
      </div>

      <!-- Unnamed (HTML按钮) -->
      <div id="u39" class="ax_html__">
        <input id="u39_input" type="submit" value="删除"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u40" class="ax_形状">
        <img id="u40_img" class="img " src="images/首页/u10.png"/>
        <!-- Unnamed () -->
        <div id="u41" class="text">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u42" class="ax_横线">
        <img id="u42_start" class="img " src="resources/images/transparent.gif" alt="u42_start"/>
        <img id="u42_end" class="img " src="resources/images/transparent.gif" alt="u42_end"/>
        <img id="u42_line" class="img " src="images/首页/u12_line.png" alt="u42_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u43" class="ax_h2">
        <img id="u43_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u44" class="text">
          <p><span>草稿箱</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u45" class="ax_垂直线">
        <img id="u45_start" class="img " src="resources/images/transparent.gif" alt="u45_start"/>
        <img id="u45_end" class="img " src="resources/images/transparent.gif" alt="u45_end"/>
        <img id="u45_line" class="img " src="images/首页/u15_line.png" alt="u45_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u46" class="ax_横线">
        <img id="u46_start" class="img " src="resources/images/transparent.gif" alt="u46_start"/>
        <img id="u46_end" class="img " src="resources/images/transparent.gif" alt="u46_end"/>
        <img id="u46_line" class="img " src="images/首页/u12_line.png" alt="u46_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u47" class="ax_垂直线">
        <img id="u47_start" class="img " src="resources/images/transparent.gif" alt="u47_start"/>
        <img id="u47_end" class="img " src="resources/images/transparent.gif" alt="u47_end"/>
        <img id="u47_line" class="img " src="images/首页/u15_line.png" alt="u47_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u48" class="ax_h2">
        <img id="u48_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u49" class="text">
          <p><span>资讯审核</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u50" class="ax_横线">
        <img id="u50_start" class="img " src="resources/images/transparent.gif" alt="u50_start"/>
        <img id="u50_end" class="img " src="resources/images/transparent.gif" alt="u50_end"/>
        <img id="u50_line" class="img " src="images/首页/u12_line.png" alt="u50_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u51" class="ax_垂直线">
        <img id="u51_start" class="img " src="resources/images/transparent.gif" alt="u51_start"/>
        <img id="u51_end" class="img " src="resources/images/transparent.gif" alt="u51_end"/>
        <img id="u51_line" class="img " src="images/首页/u15_line.png" alt="u51_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u52" class="ax_横线">
        <img id="u52_start" class="img " src="resources/images/transparent.gif" alt="u52_start"/>
        <img id="u52_end" class="img " src="resources/images/transparent.gif" alt="u52_end"/>
        <img id="u52_line" class="img " src="images/首页/u22_line.png" alt="u52_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u53" class="ax_垂直线">
        <img id="u53_start" class="img " src="resources/images/transparent.gif" alt="u53_start"/>
        <img id="u53_end" class="img " src="resources/images/transparent.gif" alt="u53_end"/>
        <img id="u53_line" class="img " src="images/首页/u15_line.png" alt="u53_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u54" class="ax_h2">
        <img id="u54_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u55" class="text">
          <p><span>资讯发布</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u56" class="ax_h2">
        <img id="u56_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u57" class="text">
          <p><span>资讯列表</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u58" class="ax_横线">
        <img id="u58_start" class="img " src="resources/images/transparent.gif" alt="u58_start"/>
        <img id="u58_end" class="img " src="resources/images/transparent.gif" alt="u58_end"/>
        <img id="u58_line" class="img " src="images/首页/u22_line.png" alt="u58_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u59" class="ax_横线">
        <img id="u59_start" class="img " src="resources/images/transparent.gif" alt="u59_start"/>
        <img id="u59_end" class="img " src="resources/images/transparent.gif" alt="u59_end"/>
        <img id="u59_line" class="img " src="images/首页/u22_line.png" alt="u59_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u60" class="ax_h2">
        <img id="u60_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u61" class="text">
          <p><span>车型库管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u62" class="ax_横线">
        <img id="u62_start" class="img " src="resources/images/transparent.gif" alt="u62_start"/>
        <img id="u62_end" class="img " src="resources/images/transparent.gif" alt="u62_end"/>
        <img id="u62_line" class="img " src="images/首页/u12_line.png" alt="u62_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u63" class="ax_垂直线">
        <img id="u63_start" class="img " src="resources/images/transparent.gif" alt="u63_start"/>
        <img id="u63_end" class="img " src="resources/images/transparent.gif" alt="u63_end"/>
        <img id="u63_line" class="img " src="images/首页/u15_line.png" alt="u63_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u64" class="ax_横线">
        <img id="u64_start" class="img " src="resources/images/transparent.gif" alt="u64_start"/>
        <img id="u64_end" class="img " src="resources/images/transparent.gif" alt="u64_end"/>
        <img id="u64_line" class="img " src="images/首页/u12_line.png" alt="u64_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u65" class="ax_垂直线">
        <img id="u65_start" class="img " src="resources/images/transparent.gif" alt="u65_start"/>
        <img id="u65_end" class="img " src="resources/images/transparent.gif" alt="u65_end"/>
        <img id="u65_line" class="img " src="images/首页/u15_line.png" alt="u65_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u66" class="ax_横线">
        <img id="u66_start" class="img " src="resources/images/transparent.gif" alt="u66_start"/>
        <img id="u66_end" class="img " src="resources/images/transparent.gif" alt="u66_end"/>
        <img id="u66_line" class="img " src="images/首页/u12_line.png" alt="u66_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u67" class="ax_垂直线">
        <img id="u67_start" class="img " src="resources/images/transparent.gif" alt="u67_start"/>
        <img id="u67_end" class="img " src="resources/images/transparent.gif" alt="u67_end"/>
        <img id="u67_line" class="img " src="images/首页/u15_line.png" alt="u67_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u68" class="ax_横线">
        <img id="u68_start" class="img " src="resources/images/transparent.gif" alt="u68_start"/>
        <img id="u68_end" class="img " src="resources/images/transparent.gif" alt="u68_end"/>
        <img id="u68_line" class="img " src="images/首页/u12_line.png" alt="u68_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u69" class="ax_垂直线">
        <img id="u69_start" class="img " src="resources/images/transparent.gif" alt="u69_start"/>
        <img id="u69_end" class="img " src="resources/images/transparent.gif" alt="u69_end"/>
        <img id="u69_line" class="img " src="images/首页/u15_line.png" alt="u69_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u70" class="ax_垂直线">
        <img id="u70_start" class="img " src="resources/images/transparent.gif" alt="u70_start"/>
        <img id="u70_end" class="img " src="resources/images/transparent.gif" alt="u70_end"/>
        <img id="u70_line" class="img " src="images/首页/u15_line.png" alt="u70_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u71" class="ax_横线">
        <img id="u71_start" class="img " src="resources/images/transparent.gif" alt="u71_start"/>
        <img id="u71_end" class="img " src="resources/images/transparent.gif" alt="u71_end"/>
        <img id="u71_line" class="img " src="images/首页/u12_line.png" alt="u71_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u72" class="ax_垂直线">
        <img id="u72_start" class="img " src="resources/images/transparent.gif" alt="u72_start"/>
        <img id="u72_end" class="img " src="resources/images/transparent.gif" alt="u72_end"/>
        <img id="u72_line" class="img " src="images/首页/u15_line.png" alt="u72_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u73" class="ax_h2">
        <img id="u73_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u74" class="text">
          <p><span>品牌管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u75" class="ax_h2">
        <img id="u75_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u76" class="text">
          <p><span>厂商管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u77" class="ax_h2">
        <img id="u77_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u78" class="text">
          <p><span>车系管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u79" class="ax_h2">
        <img id="u79_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u80" class="text">
          <p><span>车款管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u81" class="ax_h2">
        <img id="u81_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u82" class="text">
          <p><span>参数分类管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u83" class="ax_h2">
        <img id="u83_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u84" class="text">
          <p><span>参数管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u85" class="ax_横线">
        <img id="u85_start" class="img " src="resources/images/transparent.gif" alt="u85_start"/>
        <img id="u85_end" class="img " src="resources/images/transparent.gif" alt="u85_end"/>
        <img id="u85_line" class="img " src="images/首页/u22_line.png" alt="u85_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u86" class="ax_横线">
        <img id="u86_start" class="img " src="resources/images/transparent.gif" alt="u86_start"/>
        <img id="u86_end" class="img " src="resources/images/transparent.gif" alt="u86_end"/>
        <img id="u86_line" class="img " src="images/首页/u22_line.png" alt="u86_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u87" class="ax_h2">
        <img id="u87_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u88" class="text">
          <p><span>自有商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u89" class="ax_横线">
        <img id="u89_start" class="img " src="resources/images/transparent.gif" alt="u89_start"/>
        <img id="u89_end" class="img " src="resources/images/transparent.gif" alt="u89_end"/>
        <img id="u89_line" class="img " src="images/首页/u22_line.png" alt="u89_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u90" class="ax_h2">
        <img id="u90_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u91" class="text">
          <p><span>活动管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u92" class="ax_横线">
        <img id="u92_start" class="img " src="resources/images/transparent.gif" alt="u92_start"/>
        <img id="u92_end" class="img " src="resources/images/transparent.gif" alt="u92_end"/>
        <img id="u92_line" class="img " src="images/首页/u12_line.png" alt="u92_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u93" class="ax_垂直线">
        <img id="u93_start" class="img " src="resources/images/transparent.gif" alt="u93_start"/>
        <img id="u93_end" class="img " src="resources/images/transparent.gif" alt="u93_end"/>
        <img id="u93_line" class="img " src="images/首页/u15_line.png" alt="u93_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u94" class="ax_横线">
        <img id="u94_start" class="img " src="resources/images/transparent.gif" alt="u94_start"/>
        <img id="u94_end" class="img " src="resources/images/transparent.gif" alt="u94_end"/>
        <img id="u94_line" class="img " src="images/首页/u12_line.png" alt="u94_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u95" class="ax_垂直线">
        <img id="u95_start" class="img " src="resources/images/transparent.gif" alt="u95_start"/>
        <img id="u95_end" class="img " src="resources/images/transparent.gif" alt="u95_end"/>
        <img id="u95_line" class="img " src="images/首页/u15_line.png" alt="u95_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u96" class="ax_横线">
        <img id="u96_start" class="img " src="resources/images/transparent.gif" alt="u96_start"/>
        <img id="u96_end" class="img " src="resources/images/transparent.gif" alt="u96_end"/>
        <img id="u96_line" class="img " src="images/首页/u12_line.png" alt="u96_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u97" class="ax_垂直线">
        <img id="u97_start" class="img " src="resources/images/transparent.gif" alt="u97_start"/>
        <img id="u97_end" class="img " src="resources/images/transparent.gif" alt="u97_end"/>
        <img id="u97_line" class="img " src="images/首页/u15_line.png" alt="u97_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u98" class="ax_h2">
        <img id="u98_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u99" class="text">
          <p><span>活动</span><span>列表</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u100" class="ax_h2">
        <img id="u100_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u101" class="text">
          <p><span>推荐活动</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u102" class="ax_h2">
        <img id="u102_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u103" class="text">
          <p><span>类型管理</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u104" class="ax_垂直线">
        <img id="u104_start" class="img " src="resources/images/transparent.gif" alt="u104_start"/>
        <img id="u104_end" class="img " src="resources/images/transparent.gif" alt="u104_end"/>
        <img id="u104_line" class="img " src="images/首页/u15_line.png" alt="u104_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u105" class="ax_h2">
        <img id="u105_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u106" class="text">
          <p><span>渠道管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u107" class="ax_横线">
        <img id="u107_start" class="img " src="resources/images/transparent.gif" alt="u107_start"/>
        <img id="u107_end" class="img " src="resources/images/transparent.gif" alt="u107_end"/>
        <img id="u107_line" class="img " src="images/首页/u22_line.png" alt="u107_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u108" class="ax_横线">
        <img id="u108_start" class="img " src="resources/images/transparent.gif" alt="u108_start"/>
        <img id="u108_end" class="img " src="resources/images/transparent.gif" alt="u108_end"/>
        <img id="u108_line" class="img " src="images/首页/u22_line.png" alt="u108_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u109" class="ax_h2">
        <img id="u109_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u110" class="text">
          <p><span>消息管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u111" class="ax_横线">
        <img id="u111_start" class="img " src="resources/images/transparent.gif" alt="u111_start"/>
        <img id="u111_end" class="img " src="resources/images/transparent.gif" alt="u111_end"/>
        <img id="u111_line" class="img " src="images/首页/u22_line.png" alt="u111_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u112" class="ax_h2">
        <img id="u112_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u113" class="text">
          <p><span>标签管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u114" class="ax_横线">
        <img id="u114_start" class="img " src="resources/images/transparent.gif" alt="u114_start"/>
        <img id="u114_end" class="img " src="resources/images/transparent.gif" alt="u114_end"/>
        <img id="u114_line" class="img " src="images/首页/u22_line.png" alt="u114_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u115" class="ax_h2">
        <img id="u115_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u116" class="text">
          <p><span>角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u117" class="ax_横线">
        <img id="u117_start" class="img " src="resources/images/transparent.gif" alt="u117_start"/>
        <img id="u117_end" class="img " src="resources/images/transparent.gif" alt="u117_end"/>
        <img id="u117_line" class="img " src="images/首页/u22_line.png" alt="u117_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u118" class="ax_h2">
        <img id="u118_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u119" class="text">
          <p><span>管理员列表</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u120" class="ax_h2">
        <img id="u120_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u121" class="text">
          <p><span>操作日志</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u122" class="ax_横线">
        <img id="u122_start" class="img " src="resources/images/transparent.gif" alt="u122_start"/>
        <img id="u122_end" class="img " src="resources/images/transparent.gif" alt="u122_end"/>
        <img id="u122_line" class="img " src="images/首页/u92_line.png" alt="u122_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u123" class="ax_h2">
        <img id="u123_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u124" class="text">
          <p><span>标签定义</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u125" class="ax_h2">
        <img id="u125_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u126" class="text">
          <p><span>个人中心</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u127" class="ax_横线">
        <img id="u127_start" class="img " src="resources/images/transparent.gif" alt="u127_start"/>
        <img id="u127_end" class="img " src="resources/images/transparent.gif" alt="u127_end"/>
        <img id="u127_line" class="img " src="images/首页/u22_line.png" alt="u127_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u128" class="ax_h2">
        <img id="u128_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u129" class="text">
          <p><span>会员管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u130" class="ax_横线">
        <img id="u130_start" class="img " src="resources/images/transparent.gif" alt="u130_start"/>
        <img id="u130_end" class="img " src="resources/images/transparent.gif" alt="u130_end"/>
        <img id="u130_line" class="img " src="images/首页/u22_line.png" alt="u130_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u131" class="ax_横线">
        <img id="u131_start" class="img " src="resources/images/transparent.gif" alt="u131_start"/>
        <img id="u131_end" class="img " src="resources/images/transparent.gif" alt="u131_end"/>
        <img id="u131_line" class="img " src="images/首页/u92_line.png" alt="u131_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u132" class="ax_垂直线">
        <img id="u132_start" class="img " src="resources/images/transparent.gif" alt="u132_start"/>
        <img id="u132_end" class="img " src="resources/images/transparent.gif" alt="u132_end"/>
        <img id="u132_line" class="img " src="images/首页/u15_line.png" alt="u132_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u133" class="ax_h2">
        <img id="u133_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u134" class="text">
          <p><span>会员管理</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u135" class="ax_h2">
        <img id="u135_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u136" class="text">
          <p><span>资讯管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u137" class="ax_横线">
        <img id="u137_start" class="img " src="resources/images/transparent.gif" alt="u137_start"/>
        <img id="u137_end" class="img " src="resources/images/transparent.gif" alt="u137_end"/>
        <img id="u137_line" class="img " src="images/首页/u22_line.png" alt="u137_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u138" class="ax_横线">
        <img id="u138_start" class="img " src="resources/images/transparent.gif" alt="u138_start"/>
        <img id="u138_end" class="img " src="resources/images/transparent.gif" alt="u138_end"/>
        <img id="u138_line" class="img " src="images/首页/u12_line.png" alt="u138_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u139" class="ax_垂直线">
        <img id="u139_start" class="img " src="resources/images/transparent.gif" alt="u139_start"/>
        <img id="u139_end" class="img " src="resources/images/transparent.gif" alt="u139_end"/>
        <img id="u139_line" class="img " src="images/首页/u15_line.png" alt="u139_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u140" class="ax_h2">
        <img id="u140_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u141" class="text">
          <p><span>标签定义</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u142" class="ax_横线">
        <img id="u142_start" class="img " src="resources/images/transparent.gif" alt="u142_start"/>
        <img id="u142_end" class="img " src="resources/images/transparent.gif" alt="u142_end"/>
        <img id="u142_line" class="img " src="images/首页/u22_line.png" alt="u142_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u143" class="ax_垂直线">
        <img id="u143_start" class="img " src="resources/images/transparent.gif" alt="u143_start"/>
        <img id="u143_end" class="img " src="resources/images/transparent.gif" alt="u143_end"/>
        <img id="u143_line" class="img " src="images/首页/u15_line.png" alt="u143_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u144" class="ax_h2">
        <img id="u144_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u145" class="text">
          <p><span>自有商品管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u146" class="ax_横线">
        <img id="u146_start" class="img " src="resources/images/transparent.gif" alt="u146_start"/>
        <img id="u146_end" class="img " src="resources/images/transparent.gif" alt="u146_end"/>
        <img id="u146_line" class="img " src="images/首页/u116_line.png" alt="u146_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u147" class="ax_垂直线">
        <img id="u147_start" class="img " src="resources/images/transparent.gif" alt="u147_start"/>
        <img id="u147_end" class="img " src="resources/images/transparent.gif" alt="u147_end"/>
        <img id="u147_line" class="img " src="images/首页/u15_line.png" alt="u147_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u148" class="ax_h2">
        <img id="u148_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u149" class="text">
          <p><span>消息管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u150" class="ax_横线">
        <img id="u150_start" class="img " src="resources/images/transparent.gif" alt="u150_start"/>
        <img id="u150_end" class="img " src="resources/images/transparent.gif" alt="u150_end"/>
        <img id="u150_line" class="img " src="images/首页/u116_line.png" alt="u150_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u151" class="ax_垂直线">
        <img id="u151_start" class="img " src="resources/images/transparent.gif" alt="u151_start"/>
        <img id="u151_end" class="img " src="resources/images/transparent.gif" alt="u151_end"/>
        <img id="u151_line" class="img " src="images/首页/u15_line.png" alt="u151_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u152" class="ax_h2">
        <img id="u152_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u153" class="text">
          <p><span>标签管理</span></p>
        </div>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u154" class="ax_横线">
        <img id="u154_start" class="img " src="resources/images/transparent.gif" alt="u154_start"/>
        <img id="u154_end" class="img " src="resources/images/transparent.gif" alt="u154_end"/>
        <img id="u154_line" class="img " src="images/首页/u124_line.png" alt="u154_line"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u155" class="ax_垂直线">
        <img id="u155_start" class="img " src="resources/images/transparent.gif" alt="u155_start"/>
        <img id="u155_end" class="img " src="resources/images/transparent.gif" alt="u155_end"/>
        <img id="u155_line" class="img " src="images/首页/u15_line.png" alt="u155_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u156" class="ax_h2">
        <img id="u156_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u157" class="text">
          <p><span>角色管理</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u158" class="ax_垂直线">
        <img id="u158_start" class="img " src="resources/images/transparent.gif" alt="u158_start"/>
        <img id="u158_end" class="img " src="resources/images/transparent.gif" alt="u158_end"/>
        <img id="u158_line" class="img " src="images/首页/u15_line.png" alt="u158_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u159" class="ax_横线">
        <img id="u159_start" class="img " src="resources/images/transparent.gif" alt="u159_start"/>
        <img id="u159_end" class="img " src="resources/images/transparent.gif" alt="u159_end"/>
        <img id="u159_line" class="img " src="images/首页/u22_line.png" alt="u159_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u160" class="ax_h2">
        <img id="u160_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u161" class="text">
          <p><span>管理员列表</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u162" class="ax_垂直线">
        <img id="u162_start" class="img " src="resources/images/transparent.gif" alt="u162_start"/>
        <img id="u162_end" class="img " src="resources/images/transparent.gif" alt="u162_end"/>
        <img id="u162_line" class="img " src="images/首页/u15_line.png" alt="u162_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u163" class="ax_横线">
        <img id="u163_start" class="img " src="resources/images/transparent.gif" alt="u163_start"/>
        <img id="u163_end" class="img " src="resources/images/transparent.gif" alt="u163_end"/>
        <img id="u163_line" class="img " src="images/首页/u22_line.png" alt="u163_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u164" class="ax_横线">
        <img id="u164_start" class="img " src="resources/images/transparent.gif" alt="u164_start"/>
        <img id="u164_end" class="img " src="resources/images/transparent.gif" alt="u164_end"/>
        <img id="u164_line" class="img " src="images/首页/u22_line.png" alt="u164_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u165" class="ax_h2">
        <img id="u165_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u166" class="text">
          <p><span>操作日志</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u167" class="ax_垂直线">
        <img id="u167_start" class="img " src="resources/images/transparent.gif" alt="u167_start"/>
        <img id="u167_end" class="img " src="resources/images/transparent.gif" alt="u167_end"/>
        <img id="u167_line" class="img " src="images/首页/u15_line.png" alt="u167_line"/>
      </div>

      <!-- Unnamed (横线) -->
      <div id="u168" class="ax_横线">
        <img id="u168_start" class="img " src="resources/images/transparent.gif" alt="u168_start"/>
        <img id="u168_end" class="img " src="resources/images/transparent.gif" alt="u168_end"/>
        <img id="u168_line" class="img " src="images/首页/u116_line.png" alt="u168_line"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u169" class="ax_h2">
        <img id="u169_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u170" class="text">
          <p><span>个人中心</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u171" class="ax_h2">
        <img id="u171_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u172" class="text">
          <p><span>“</span><span>伴我汽车</span><span>”</span><span>管理平台</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u173" class="ax_形状">
        <img id="u173_img" class="img " src="images/首页/u141.png"/>
        <!-- Unnamed () -->
        <div id="u174" class="text">
          <p><span>logo</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
