<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>厂商管理</title>
</head>
<body>
<h2>厂商列表</h2>
<table id="dg" class="easyui-datagrid"
       data-options="url:'pingpai',toolbar:'#tb',fitColumns:true,singleSelect:false,pagination:true">
    <thead>
    <tr>
        <th data-options="field:'ch',checkbox:true,width:100"></th>
        <th data-options="field:'id',width:50,align:'center'">id</th>
        <th data-options="field:'pingpai',width:100,align:'center'">品牌</th>
        <th data-options="field:'logo',width:100,align:'center',formatter:formatGetImage">logo</th>
        <th data-options="field:'changshang',width:100,align:'center'">厂商</th>
        <th data-options="field:'created',width:100,align:'center',formatter:formatCreateTime">创建时间</th>
        <th data-options="field:'operate',width:'100',align:'center',formatter:operate_formatter">操作</th>
    </tr>
    </thead>
</table>
<div id="tb">
    标题：<input name="pingpai" type="text"/>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true,onClick:query" ></a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,onClick:addItem"></a>
</div>
<div id="win" class="easyui-window" title="厂商" style="width:600px;height:400px"
     data-options="iconCls:'icon-save',modal:true,closed:true">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center'">
            <form id="for1" action="/pingpaibianji" method="post" >
                <div>
                    <label>id</label>
                    <input type="text" name="id"/>
                </div>
                <div>
                    <label>品牌</label>
                    <input type="text" name="pingpai" />
                </div>
                <div>
                    <label>logo</label>
                    <input type="text" name="logo" />
                </div>
                <div>
                    <label>厂商</label>
                    <input type="text" name="changshang" />
                </div>
                <div>
                    <label>创建时间</label>
                    <input type="text" name="created" />
                </div>
                <input type="submit" value="提交"/>
            </form>
        </div>
    </div>
</div>
<div>
<script>
    function formatGetImage(v,r,i) {

        var images = "/images/"+v;
        console.log(images);
        if (v){
            return "<img src='"+images+"' style='width: 110px;height: 70px ;'/>";
        }else {
            return null;
        }
    }
    function operate_formatter(value, row, index) {

        return "<button type='button' onclick='xianshi()'>编辑</button>/\
          <button type='button' onclick='shanchu()'>删除</button>/\
          "

    }
    function xianshi(index){

        $('#dg').datagrid('selectRow',index);
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $('#win').window('open');
            $('#for1').form('load',row);
        }
    }
    function query() {
        $('#dg').datagrid('load',{
            pingpai:$("[name='pingpai']").val()
        });
    }
    function formatCreateTime(v,r,i){
        var d=new Date(v);
        var year=d.getFullYear();
        var month=d.getMonth()+1;
        var date=d.getDate();
        return year+"年"+month+"月"+date+"日";
    }
</script>
</body>
</html>