body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1240px;
  height:1070px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:1070px;
}
#u1 {
  position:absolute;
  left:2px;
  top:527px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:54px;
  width:1240px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1240px;
  height:1px;
}
#u3 {
  position:absolute;
  left:641px;
  top:36px;
  width:387px;
  height:14px;
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:14px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:229px;
  top:76px;
  width:1001px;
  height:654px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:654px;
}
#u6 {
  position:absolute;
  left:2px;
  top:319px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:229px;
  top:111px;
  width:1001px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u8 {
  position:absolute;
  left:241px;
  top:92px;
  width:91px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:270px;
  top:154px;
  width:55px;
  height:19px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:350px;
  top:149px;
  width:230px;
  height:36px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u13 {
  position:absolute;
  left:270px;
  top:218px;
  width:55px;
  height:19px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:350px;
  top:212px;
  width:370px;
  height:308px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:308px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:277px;
  top:550px;
  width:55px;
  height:19px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:350px;
  top:544px;
  width:200px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:580px;
  top:624px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:440px;
  top:623px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:18px;
  top:64px;
  width:200px;
  height:976px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:976px;
}
#u22 {
  position:absolute;
  left:2px;
  top:480px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:53px;
  top:361px;
  width:166px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u24 {
  position:absolute;
  left:95px;
  top:160px;
  width:43px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:48px;
  top:340px;
  width:10px;
  height:27px;
}
#u26_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u26_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u26_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u27 {
  position:absolute;
  left:53px;
  top:388px;
  width:166px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u28 {
  position:absolute;
  left:48px;
  top:367px;
  width:10px;
  height:27px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u28_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u29 {
  position:absolute;
  left:95px;
  top:187px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:53px;
  top:413px;
  width:166px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u32 {
  position:absolute;
  left:48px;
  top:392px;
  width:10px;
  height:27px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u33 {
  position:absolute;
  left:17px;
  top:253px;
  width:200px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u34 {
  position:absolute;
  left:46px;
  top:232px;
  width:10px;
  height:27px;
}
#u34_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u34_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u34_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u35 {
  position:absolute;
  left:95px;
  top:213px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:95px;
  top:240px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:21px;
  top:305px;
  width:200px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u40 {
  position:absolute;
  left:21px;
  top:335px;
  width:200px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u41 {
  position:absolute;
  left:50px;
  top:316px;
  width:91px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:51px;
  top:174px;
  width:166px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u44 {
  position:absolute;
  left:46px;
  top:153px;
  width:10px;
  height:27px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u45 {
  position:absolute;
  left:51px;
  top:201px;
  width:166px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u46 {
  position:absolute;
  left:46px;
  top:180px;
  width:10px;
  height:27px;
}
#u46_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u46_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u46_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u47 {
  position:absolute;
  left:51px;
  top:226px;
  width:166px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u48 {
  position:absolute;
  left:46px;
  top:205px;
  width:10px;
  height:27px;
}
#u48_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u48_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u48_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u49 {
  position:absolute;
  left:53px;
  top:439px;
  width:166px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u50 {
  position:absolute;
  left:48px;
  top:418px;
  width:10px;
  height:27px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u51 {
  position:absolute;
  left:48px;
  top:446px;
  width:10px;
  height:27px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u52 {
  position:absolute;
  left:53px;
  top:462px;
  width:166px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u53 {
  position:absolute;
  left:48px;
  top:471px;
  width:10px;
  height:27px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u54 {
  position:absolute;
  left:93px;
  top:347px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:93px;
  top:373px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:93px;
  top:399px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:92px;
  top:426px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:78px;
  top:452px;
  width:85px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:91px;
  top:477px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:19px;
  top:491px;
  width:200px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u67 {
  position:absolute;
  left:19px;
  top:518px;
  width:200px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u68 {
  position:absolute;
  left:49px;
  top:501px;
  width:109px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:19px;
  top:574px;
  width:200px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u71 {
  position:absolute;
  left:47px;
  top:556px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:53px;
  top:600px;
  width:166px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u74 {
  position:absolute;
  left:47px;
  top:579px;
  width:10px;
  height:27px;
}
#u74_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u74_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u74_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u75 {
  position:absolute;
  left:53px;
  top:627px;
  width:166px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u76 {
  position:absolute;
  left:47px;
  top:606px;
  width:10px;
  height:27px;
}
#u76_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u76_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u76_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u77 {
  position:absolute;
  left:53px;
  top:652px;
  width:166px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u78 {
  position:absolute;
  left:47px;
  top:631px;
  width:10px;
  height:27px;
}
#u78_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u78_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u78_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u79 {
  position:absolute;
  left:92px;
  top:587px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:92px;
  top:613px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:92px;
  top:639px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:47px;
  top:657px;
  width:10px;
  height:27px;
}
#u85_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u85_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u85_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u86 {
  position:absolute;
  left:92px;
  top:665px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:16px;
  top:678px;
  width:200px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u89 {
  position:absolute;
  left:21px;
  top:705px;
  width:200px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u90 {
  position:absolute;
  left:49px;
  top:688px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:18px;
  top:760px;
  width:200px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u93 {
  position:absolute;
  left:46px;
  top:743px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:19px;
  top:812px;
  width:200px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u96 {
  position:absolute;
  left:47px;
  top:795px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:17px;
  top:867px;
  width:200px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u99 {
  position:absolute;
  left:48px;
  top:849px;
  width:91px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:51px;
  top:906px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:21px;
  top:277px;
  width:196px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u104 {
  position:absolute;
  left:51px;
  top:262px;
  width:73px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:45px;
  top:962px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:17px;
  top:982px;
  width:200px;
  height:10px;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u109 {
  position:absolute;
  left:51px;
  top:71px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:18px;
  top:90px;
  width:200px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u112 {
  position:absolute;
  left:18px;
  top:117px;
  width:196px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:179px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:196px;
  height:1px;
}
#u113 {
  position:absolute;
  left:46px;
  top:96px;
  width:10px;
  height:27px;
}
#u113_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u113_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u113_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u114 {
  position:absolute;
  left:95px;
  top:102px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:52px;
  top:127px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:18px;
  top:148px;
  width:200px;
  height:10px;
}
#u118_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u118_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u119 {
  position:absolute;
  left:53px;
  top:305px;
  width:166px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:166px;
  height:1px;
}
#u120 {
  position:absolute;
  left:48px;
  top:284px;
  width:10px;
  height:27px;
}
#u120_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u120_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u120_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u121 {
  position:absolute;
  left:95px;
  top:291px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:19px;
  top:546px;
  width:200px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u124 {
  position:absolute;
  left:47px;
  top:525px;
  width:10px;
  height:27px;
}
#u124_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u124_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u124_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u125 {
  position:absolute;
  left:77px;
  top:528px;
  width:85px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:19px;
  top:733px;
  width:199px;
  height:10px;
}
#u127_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:182px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:199px;
  height:1px;
}
#u128 {
  position:absolute;
  left:46px;
  top:712px;
  width:10px;
  height:27px;
}
#u128_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u128_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u128_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u129 {
  position:absolute;
  left:92px;
  top:717px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:19px;
  top:787px;
  width:199px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:182px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:199px;
  height:1px;
}
#u132 {
  position:absolute;
  left:46px;
  top:766px;
  width:10px;
  height:27px;
}
#u132_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u132_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u132_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u133 {
  position:absolute;
  left:92px;
  top:770px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:19px;
  top:840px;
  width:198px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:5px;
  width:198px;
  height:1px;
}
#u136 {
  position:absolute;
  left:45px;
  top:819px;
  width:10px;
  height:27px;
}
#u136_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u136_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u136_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u137 {
  position:absolute;
  left:92px;
  top:824px;
  width:57px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:46px;
  top:873px;
  width:10px;
  height:27px;
}
#u139_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u139_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u139_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u140 {
  position:absolute;
  left:19px;
  top:896px;
  width:200px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u141 {
  position:absolute;
  left:77px;
  top:878px;
  width:71px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:46px;
  top:930px;
  width:10px;
  height:27px;
}
#u143_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u143_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u143_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u144 {
  position:absolute;
  left:17px;
  top:924px;
  width:200px;
  height:10px;
}
#u144_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u145 {
  position:absolute;
  left:17px;
  top:952px;
  width:200px;
  height:10px;
}
#u145_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u145_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u145_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u146 {
  position:absolute;
  left:77px;
  top:935px;
  width:57px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:48px;
  top:988px;
  width:10px;
  height:27px;
}
#u148_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u148_end {
  position:absolute;
  left:-5px;
  top:10px;
  width:20px;
  height:18px;
}
#u148_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:27px;
}
#u149 {
  position:absolute;
  left:19px;
  top:1009px;
  width:199px;
  height:10px;
}
#u149_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u149_end {
  position:absolute;
  left:182px;
  top:-5px;
  width:18px;
  height:20px;
}
#u149_line {
  position:absolute;
  left:0px;
  top:5px;
  width:199px;
  height:1px;
}
#u150 {
  position:absolute;
  left:77px;
  top:994px;
  width:57px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:130px;
  top:22px;
  width:222px;
  height:28px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:28px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:35px;
  top:17px;
  width:85px;
  height:33px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
}
#u155 {
  position:absolute;
  left:2px;
  top:9px;
  width:81px;
  word-wrap:break-word;
}
