body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1240px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:500px;
  top:262px;
  width:310px;
  height:40px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:500px;
  top:322px;
  width:310px;
  height:45px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:540px;
  top:306px;
  width:300px;
  height:10px;
  font-size:10px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:10px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:540px;
  top:371px;
  width:300px;
  height:10px;
  font-size:10px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:10px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:580px;
  top:495px;
  width:150px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:500px;
  top:391px;
  width:200px;
  height:45px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:710px;
  top:391px;
  width:90px;
  height:45px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:738px;
  top:446px;
  width:45px;
  height:11px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000099;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:11px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:780px;
  top:450px;
  width:590px;
  height:0px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:604px;
  height:20px;
}
#u15 {
  position:absolute;
  left:245px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1380px;
  top:440px;
  width:300px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:13px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:408px;
  top:270px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:408px;
  top:332px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:407px;
  top:401px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
