body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:376px;
  top:203px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:376px;
  top:270px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:440px;
  top:430px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:376px;
  top:333px;
  width:150px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:536px;
  top:335px;
  width:84px;
  height:38px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
}
#u10 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:293px;
  top:215px;
  width:73px;
  height:19px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:293px;
  top:280px;
  width:75px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:291px;
  top:346px;
  width:73px;
  height:19px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:631px;
  top:354px;
  width:43px;
  height:14px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#868686;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
